
\.vs/v15/

Lab1/Task1/Debug/

Lab1/Task2/Debug/

Lab1/Task3/Debug/

Lab1/Task4/Debug/

Lab1/Debug/Task1.exe
Lab1/Debug/Task1.ilk
Lab1/Debug/Task1.pdb
Lab1/Debug/Task2.exe
Lab1/Debug/Task2.ilk
Lab1/Debug/Task2.pdb
Lab1/Debug/Task3.exe
Lab1/Debug/Task3.ilk
Lab1/Debug/Task3.pdb
Lab1/Debug/Task4.exe
Lab1/Debug/Task4.ilk
Lab1/Debug/Task4.pdb
Lab1/.vs/Lab1/v15/.suo
Lab1/.vs/Lab1/v15/Browse.VC.db